<% unless @infracao["descricao_nome"].empty? or @infracao["descricao_codigo"].empty? %>
    $("#infracoes").append('<span class="label label-danger" title="<%= @infracao.descricao_nome %>" data-value="<%= (@infracao["descricao_codigo"].to_s+"|"+@infracao["descricao_nome"].to_s) %>"><%= @infracao.descricao_codigo %></span>');
    $("#campo_infracoes").append('<%= hidden_field_tag :infracao, (@infracao["descricao_codigo"].to_s+"|"+@infracao["descricao_nome"].to_s), name: "infracoes[]" %>');
<% else %>
    $("#erro_infracoes").html('Erro');
<% end %>

$(document).on("click", "#infracoes span", function () {
    var value = $(this).data('value');

    $(this).remove();

    $('[value="'+ value +'"]').remove();

})
