<table id="problema-identificado" class="table-ficha">
  <thead>
    <tr>
      <th>Problemas Identificados</th>
      <th width="100" class="text-center">Total</th>
    </tr>
  </thead>
  <tbody>
    <% @relatorio[:problema_identificado].each do |label, total| %>
      <% if total > 0 %>
        <tr data-key="<%= label %>" data-value="<%= total %>">
          <td><%= label %></td>
          <td class="text-center"><%= total %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
