<div class="modal fade" id="modal-vista-autos" role="dialog">
  <div class="modal-dialog modal-lg">
  
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Vistas dos autos: </h4>
      </div>
      <div class="modal-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Defensor</th>
              <th>Data</th>
            </tr>
          </thead>
          <tbody>
            <% @vistas_dos_autos_rows.each do |row|%>
              <tr>
                  <td><%= row[:nome] %></td>
                  <td><%= l row[:data] if row[:data].present? %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
