<div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Editando Foro</h3>
  </div>
  <div class="panel-body">
    <div class="col-md-6">
        <%= render 'form' %>

        <%= link_to 'Exibir', @forum , :class=> "btn btn-primary"%> |
        <%= link_to 'Voltar', foruns_path , :class=> "btn btn-primary"%>
    </div>
  </div>
</div>
