<p>Olá <%= @resource.email %>!</p>

<p>Por medida de segurança, não enviamos senhas por e-mail. Você deve criar uma nova senha para substituir a antiga. Siga os passos abaixo e assim que a nova senha for confirmada a antiga será anulada.</p>

<p>1. Clique <%= link_to 'aqui', "http://#{URL_SIC}/password/edit?reset_password_token=#{@token}" %> para trocar de senha.</p>

<p>2. Preencha todos os campos solicitados. Atenção: a nova senha deve ter no
minimo 4 caracteres;</p> 

<p>Se você não pediu para trocar sua senha, por favor, desconsidere esta mensagem. </p>
