<p> <strong>Assinatura já cadastrada.</strong></p>
<p><img src="/images/signatures/<%= get_cpf %>/<%= @assinatura.url %>" alt="Assinatura"> </p>

<div class="col-md-1">
    <%= link_to 'Deletar', @assinatura, method: :delete, data: { confirm: 'Tem certeza?' } %>
</div>

<div class="col-md-11 " style="margin-top: -4px;margin-left: -50px;">
    <%= link_to 'Deletar', @assinatura, :class=> "intra-icon icon-excluir", method: :delete, data: { confirm: 'Tem certeza?' } %>
</div>
