<%= form_for @forca_tarefa do |f| %>
  <%= render 'forca_tarefas/partials/fields', :f => f %>
  <button class="btn btn-success">Salvar</button>
  <%= link_to 'Voltar', forca_tarefas_path, class: "btn btn-danger" %>
<% end %>
