<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">Força Tarefa</h4>
  </div>
  <div class="panel-body">
    <div class="form-group text-right">
      <%= link_to 'Cadastrar', new_forca_tarefa_path, class: "btn btn-primary" %>
    </div>

    <%= render 'forca_tarefas/partials/table' %>
  </div>
</div>
