<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">Força Tarefa - Cadastrar</h4>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-6">
        <%= render 'layouts/errors', :row => @forca_tarefa %>
        <%= render 'forca_tarefas/partials/form' %>
      </div>
    </div>
  </div>
</div>
