<% if row.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(row.errors.count, "erro") %> <%= "impediu".pluralize(row.errors.count) %> este <%= row.class.model_name.human %> de ser salvo:</h2>

    <ul>
      <% row.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
